.TableRow a {
  margin-right: 5px;

  color: #000000;
  text-decoration: none;
}

.TableRow td:not(:first-child) {
  text-align: center;
}

.TableRow td:first-child {
  padding-left: 20px;
}

.TableRow td:last-child {
  padding-right: 20px;
}

.TableRow td {
  padding-top: 20px;
}

.TableRow:last-child td {
  padding-bottom: 20px;
}
